@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}


li, a, button {
    font-family: 'Charmonman', cursive;
    font-weight: 500;
    font-size: 22px;
    color: #edf0f1;
    text-decoration: none;
}

/*Alla sammalagta nav (Header)*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #595e77;
}


/* färgen på företaget*/
h1 {
    color: #edf0f1;
    letter-spacing: 5px;
}

.logo {
    color: rgb(226, 226, 226);
    margin-right: auto;
}

nav {
    background-color: #595e77;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav_links li {
    padding: 0 15px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}
.nav_links li a:hover {
    color: #0088a9;
}

/*Knappen*/
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/*När man är på knappen*/
button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.burger {
    display: none;
    margin-left: 20px;
}


.burger div {
    width: 28px;
    height: 3px;
    background-color: #edf0f1;
    margin: 5px;
}


/*För mobil eller mindre skärm*/
@media screen and (max-width: 1024px) {
    .nav_links {
        width: 60%;
    }
}

/*För mobil eller mindre skärm*/

@media screen and (max-width: 768px) {
    .nav_links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 9vh;
        background-color: #595e77;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    h1 {
        margin-left: 10rem;
    }
}