body {
    background-image: url("./image\ \(1\).jpg");
}

h1 {
    font-family: 'Righteous', cursive;
    color: darkorange;
    margin: 20px;

}

p {
    font-family: 'Roboto Condensed', sans-serif;
    color: yellow;
    background-color: rgba(32, 14, 201, 0.842);
    width: 500px;
    border: 5px solid yellow;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}

img {

}